@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fredoka+One&family=Mako&family=Orelega+One&display=swap');

*{
    padding: 0;
    margin: 0%;
}


header{
    background-color: #18adaa;
    color: whitesmoke;
    font-family: 'Mako', sans-serif;
    text-align: center;
    margin: 0%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.titulo h1{
    font-size: 400%;
    font-weight: bold;
}

.titulo h2{
    font-weight: bold;
}

nav ul li{
    list-style-type: none;
    text-decoration: none;
}

a{
    text-decoration: none;
    padding: 10px;
}

.navegador{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
}

.botones-redessociales .linkedin:hover,
.botones-redessociales .whatsapp:hover,
.botones-redessociales .tiktok:hover,
.botones-redessociales .instagram:hover{
    transform: scale(2);
    transition: all 2s;
}




main{
    background-color: #f1cf7c
}

.comentarios .titulo{
    font-size: 30px !important;
    text-align: center !important;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Mako', sans-serif !important;
    color: black !important;
    font-weight: bold;
}

.carousel-inner img{
    max-width: 50%;
    margin: auto;
}





.sobre-mi-main{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "sobreMi sobreMi sobreMi sobreMi"
    "foto foto foto foto"
    "edson edson edson edson";
    font-family: 'Mako', sans-serif;
    justify-items: center;
    align-items: center;
    color: black;
}

.sobreMi{
    grid-area: sobreMi;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.foto{
    grid-area: foto;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

figure figcaption{
    display: none;
}

.edson{
    grid-area: edson;
    text-align: center;
    padding: 10px 30px 10px 30px;
}






.metodologia{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "titulo titulo titulo titulo"
    "detalle detalle detalle detalle";
    font-family: 'Mako', sans-serif;
    justify-items: center;
    align-items: center;
}

.metodologia .titulo{
    grid-area: titulo;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
    font-weight: bold;
}

.detalle{
    grid-area: detalle;
    text-align: center;
    padding: 10px 30px 10px 30px;
}





.cursos-padre{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas: 
    "titulo titulo"
    "introduccion introduccion"
    "curso1 curso1"
    "curso2 curso2"
    "curso3 curso3"
    "curso4 curso4"
    "curso5 curso5"
    "curso6 curso6";
    font-family: 'Mako', sans-serif;
}

.titulo-cursos{
    grid-area: titulo;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
    font-weight: bold;
    font-family: 'Mako', sans-serif;
    text-align: center;
}

.cursos-parafo1{
    grid-area: introduccion;
    padding-bottom: 10px;
    text-align: center;
    padding: 10px 30px 10px 30px;
}

.curso-adulto{
    grid-area: curso1;
}

.curso-empresas{
    grid-area: curso2;
}

.curso-ninos{
    grid-area: curso3;
}

.curso-dele{
    grid-area: curso4;
}

.curso-ptu{
    grid-area: curso5;
}

.curso-tesis{
    grid-area: curso6;
}




.agenda h3{
    color: black;
    padding: 30px;
    font-family: 'Mako', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.formulario{
    font-family: 'Mako', sans-serif;
    color: black;
}

.mb-3{
    font-family: 'Mako', sans-serif;
    color: black;
    width: 50%;
    padding-left: 30px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: 20px;
}

.lenguaMaterna{
    font-family: 'Mako', sans-serif;
    color: black;
    width: 50%;
    padding-left: 30px;
}

.otra-lengua{
    font-family: 'Mako', sans-serif;
    color: black !important;
    width: 50%;
    padding-left: 30px;
}

.form-floating>.form-control, .form-floating>.form-select {
    width: 50%;
    margin-left: 30px;
    margin-bottom: 10px;
}

.form-floating>label{
    padding-left: 30px;
    margin-left: 30px;
}

label {
    display: inline-block;
    padding-left: 30px;
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem;
    margin-left: 30px;
}

.nivelEspanol .form-select{
    width: 50%;
    padding-left: 30px;
    margin-left: 30px;
}

.motivoEstudio .form-control{
    width: 50%;
    padding-left: 30px;
    margin-left: 30px;
}

.submit-reset-button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 30px;
}





footer{
    background-color: #f1cf7c;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 0;
    font-family: 'Mako', sans-serif !important;
}

.contacto .contactarEn{
    font-weight: bold !important;
    font-family: 'Mako', sans-serif !important;
    font-size: 18px !important;
    padding-bottom: 0%;
    
}

.address{
    font-family: 'Mako', sans-serif !important;
    font-style: italic !important;
    font-size: 18px !important;
}

.rrss h4{
    padding-top: 40px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 18px !important;
}

.botones-redessociales{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.linkedin{
    padding: 10px;
}

.whatsapp{
    padding: 10px;
}

.tiktok{
    padding: 10px;
}

.instagram{
    padding: 10px;
}

.navegador-footer{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

footer h5{
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
}






@media all and (max-width: 480px){
    .comentarios{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        "titulo"
        "comentario1"
        "comentario2"
        "comentario3";
    }


}










