@import "generales";
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fredoka+One&family=Mako&family=Orelega+One&display=swap');

*{
    padding: 0%;
    margin: 0%;
}


/*nesting*/
header{
    background-color: $header_color;
    font-family: $fuente;
    text-align: center;
    margin: 0%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    font-weight: bold;

    .titulo h1{
        font-size: 80px;
        font-weight: bold;
        color: $titulo_color;
    }

    h2{
        font-weight: bold;
        color: $titulo_color;
        font-size: 25px;
    }

}




/*nesting*/
.navegador{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;

    li{
        list-style-type: none;
        text-decoration: none;
    }

    a{
        text-decoration: none;
        padding: 10px;
        color: whitesmoke;
        font-weight: normal;
    }

}





main{
    background-color: $color_main;
}




/*seccion inicio*/
.comentarios .titulo{
    font-size: $tamano_titulo_seccion;
    text-align: center !important;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: $fuente;
    color: $color_titulo_seccion;
    font-weight: bold;
}

/*carrosel*/
.carousel-inner img{
    max-width: 50%;
    margin: auto;
}




/*seccion sobre mi*/
.sobre-mi-main{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "sobreMi sobreMi sobreMi sobreMi"
    "foto foto foto foto"
    "edson edson edson edson"
    "publicaciones publicaciones publicaciones publicaciones";
    font-family: $fuente;
    justify-items: center;
    align-items: center;
}

.sobreMi{
    grid-area: sobreMi;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: $tamano_titulo_seccion;
    color: $color_titulo_seccion;
    font-weight: bold;
}

/*nesting*/
.foto{
    grid-area: foto;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;

    figure figcaption{
        display: none;
    }
}

.edson{
    grid-area: edson;
    text-align: center;
    padding: 10px 30px 30px 30px;
    color: $color_titulo_seccion;
}

.publicaciones{
    grid-area: publicaciones;
    font-family: $fuente;

    a{
    height: 60px;
    width: 60px;
    background-color: whitesmoke;
    color: $color_titulo_seccion;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    border: 1px solid whitesmoke;
    border-radius: 30px;
    margin: 10px 10px 10px 10px;
    align-items: center;
    justify-content: space-around;
    justify-self: center;
    }
}






/*seccion metodologia*/
.metodologia{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "titulo titulo titulo titulo"
    "detalle detalle detalle detalle";
    font-family: $fuente;
    justify-items: center;
    align-items: center;
}

.metodologia .titulo{
    grid-area: titulo;
    font-size: $tamano_titulo_seccion;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $color_titulo_seccion;
    font-weight: bold;
}

.detalle{
    grid-area: detalle;
    text-align: center;
    padding: 10px 30px 10px 30px;
}






/*seccion cursos*/
.cursos-padre{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "titulo titulo"
    "introduccion introduccion"
    "lista-cursos lista-cursos";
    font-family: $fuente;
}

.titulo-cursos{
    grid-area: titulo;
    font-size: $tamano_titulo_seccion;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $color_titulo_seccion;
    font-weight: bold;
    font-family: $fuente;
    text-align: center;
}

.cursos-parafo1{
    grid-area: introduccion;
    padding-bottom: 10px;
    text-align: center;
    padding: 10px 30px 10px 30px;
}

.lista-curso{
    grid-area: lista-cursos;
    font-family: $fuente;
}

/*nesting*/
.accordion{
    text-align: start;

    .accordion-item {
        background-color: whitesmoke ;
        border: 1px solid rgba(0,0,0,.125);
        width: 60%;
        margin: auto;
    
    }

}



/*seccion agenda*/
.agenda{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "titulo titulo"
    "invitacion invitacion"
    "formulario formulario";
}

.agenda h3{
    grid-area: titulo;
    color: $color_titulo_seccion;
    padding: 30px;
    font-family: $fuente;
    font-size: $tamano_titulo_seccion;
    text-align: center;
    font-weight: bold;
}


.invitacion-claseprueba{
    grid-area: invitacion;
    color: $color_titulo_seccion;
    font-family: $fuente;
    text-align: center;
    padding: 10px 30px 30px 30px;
}

.invitacion-claseprueba p{
    margin: auto;
}

/*nesting*/
/*formulario para agendar clase de prueba*/
.formulario{
    grid-area: formulario;
    font-family: $fuente;
    color: black;

    .mb-3{
        font-family: $fuente;
        color: black;
        width: 50%;
        padding-left: 30px;
    }
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: 20px;
}

.estiloLengua{
    font-family: $fuente;
    color: black;
    width: 50%;
    padding-left: 30px;
}

/*extend*/
.lenguaMaterna{
    @extend .estiloLengua;
}

.otra-lengua{
    @extend .estiloLengua;
}


/*mixing*/
@mixin size ($paddingL, $marginL){
    padding-left: $paddingL;
    margin-left: $marginL;
}

.form-floating>.form-control, .form-floating>.form-select {
    width: 50%;
    margin-left: 30px;
    margin-bottom: 10px;
}

/*mixing*/
.form-floating>label{
    @include size (30px, 30px);
}

label {
    display: inline-block;
    padding-left: 30px;
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem;
    margin-left: 30px;
}

/*mixing*/
.nivelEspanol .form-select{
    width: 50%;
    @include size (30px, 30px);
}

/*mixing*/
.motivoEstudio .form-control{
    width: 50%;
    @include size (30px, 30px);

}

.submit-reset-button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

/*nesting*/
.submit-reset-button .submit,
.submit-reset-button .reset{
    transition: all 2s;

    &:hover{
        transform: scale(1.5);
    }
}




/*seccion footer*/
/*nesting*/
footer{
    background-color: #f1cf7c;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 0;
    font-family: $fuente;

    .contactarEn{
        font-weight: bold !important;
        font-family: $fuente;
        font-size: 18px !important;
        padding-bottom: 0%;
        
    }

    .address{
        font-family: $fuente;
        font-style: italic !important;
        font-size: 18px !important;
    }

    h4{
        padding-top: 40px;
        padding-bottom: 10px;
        font-weight: bold;
        font-size: 18px !important;
    }

    .botones-redessociales{
        list-style-type: none;
        text-decoration: none;
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .linkedin{
        padding: 10px;
    }

    .whatsapp{
        padding: 10px;
    }

    .tiktok{
        padding: 10px;
    }
    
    .instagram{
        padding: 10px;
    }

    h5{
        padding-top: 20px;
        font-weight: bold;
        font-size: 15px;
    }
}


.botones-redessociales .linkedin,
.botones-redessociales .whatsapp,
.botones-redessociales .tiktok,
.botones-redessociales .instagram{
    transition: all 2s;

    &:hover{
        transform: scale(1.2);
    }
}

/*nesting*/
.navegador-footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;

    li{
        list-style-type: none;
        text-decoration: none;
    }

    a{
        text-decoration: none;
        padding: 10px;
    }

}



/*media querie*/



@media (min-width: 992px){
    a:visited{
        color: purple;
    }
    a:active{
        background-color: #18adaa;
    }
}

@media (max-width:576px) {
    .botones-redessociales .linkedin{
        transition: none;
    }
    .botones-redessociales .linkedin:hover{
        transform: none;
    }

    .botones-redessociales .whatsapp{
        transition: none;
    }
    .botones-redessociales .whatsapp:hover{
        transform: none;
    }

    .botones-redessociales .tiktok{
        transition: none;
    }
    .botones-redessociales .tiktok:hover{
        transform: none;
    }

    .botones-redessociales .instagram{
        transition: none
    }
    .botones-redessociales .instagram:hover{
        transform: none;
    }
}

@media screen and {min-width: 1090px;
    
}


